#loginBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#loginForm {
  max-width: 500px;
  width: 100%;
  border: 3px solid #f1f1f1;
  padding: 16px;
  text-align: center;
  font-size: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}*/

button:hover {
  opacity: 0.8;
}

/* WILLY STYLES (imagine hvis jeg hed harry lmao så havde det været harry styles)*/

.boxOngoing {
   width: 150px;
   height: 150px;
   border: 5px solid rgb(90, 209, 88);
   padding: 20px;
   margin: 20px;
   position: relative;
   display: flex;
   text-align: center;
}   
.boxCompleted {
  width: 150px;
  height: 150px;
  border: 5px solid rgb(135, 135, 135);
  padding: 20px;
  margin: 20px;
  position: relative;
  display: flex;
  text-align: center;
}
.empQuestionnaire {
  color: rgb(0, 0, 0); 
  font-size: 25px; 
  line-height: 25px; 
  padding: 22px; 
  margin: 10px;
  border-radius: 22px; 
  border: 2px solid rgb(0, 102, 15); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.alignItems {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
/* WILLY STYLES END (imagine hvis jeg hed harry lmao så havde det været harry styles)*/

.topnav {
  display: flex;
  background-color: #333;
  width: 100%;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* push only selected item(s) to the right */
.topnav .right {
  margin-left: auto;
}

#logout {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}